## Chapter 10 Assignment ##

# Nicholette Young #

In [90]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np 

%matplotlib inline

In [91]:
data = sns.load_dataset('diamonds')

In [92]:
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [93]:
data.corr(numeric_only=True)[['carat', 'depth', 'table', 'price', 'x', 'y', 'z',]]

          carat     depth     table     price         x         y         z
carat  1.000000  0.028224  0.181618  0.921591  0.975094  0.951722  0.953387
depth  0.028224  1.000000 -0.295779 -0.010647 -0.025289 -0.029341  0.094924
table  0.181618 -0.295779  1.000000  0.127134  0.195344  0.183760  0.150929
price  0.921591 -0.010647  0.127134  1.000000  0.884435  0.865421  0.861249
x      0.975094 -0.025289  0.195344  0.884435  1.000000  0.974701  0.970772
y      0.951722 -0.029341  0.183760  0.865421  0.974701  1.000000  0.952006
z      0.953387  0.094924  0.150929  0.861249  0.970772  0.952006  1.000000

In [94]:
sns.heatmap(data.corr()[['price']].sort_values(by='price', ascending=False),
            amnot=True, cmap='Greens', cbar=False, fnt=f.ef)

ValueError: could not convert string to float: 'Ideal'

## Procedure for Creating and Using a Regression Model

1. Data Preparation
2. Model Selection and Training
3. Model Evaluation and Improvement
4. Model Prediction and Deployment

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(data[['carat']], data[['price']], test_size=0.3, random_state=20)

In [ ]:
linearModel = LinearRegression()

In [ ]:
linearModel.fit(x_train, y_train)

In [ ]:
linearModel.score(x_test, y_test)

In [ ]:
y_predict = linearModel.predict(x_test)
y_predict

In [ ]:
predicted = pd.DataFrame(y_train, columns=['Predicted_Price'])

In [ ]:
combined = predicted.join([x_test.reset_index(drop=True),
                           y_test.reset_index(drop=True)])

In [ ]:
melted.head(3)

In [ ]:
predict = pd.DataFrame(y_predict, columns=['predicted price'])

In [ ]:
predict.head()

In [ ]:
predicted = pd.DataFrame(y_predict, columns=['predicted price'])

In [ ]:
combined = predicted.join([x_test.reset_index(drop=True),
                           y_test.reset_index(drop=True)])

In [ ]:
joined_df = pd.concat([x_test, predicted_df], axis=1)

In [ ]:
print(joined_df.head(5))

## Regression line equation is y=mx+b

* y is the dependent variable
* m is the slope of the line
* x is the independent variable
* b is the y intercept

In [ ]:
X = data.carat.values.reshape(-1,1)
y = data.price

In [ ]:
lr = LinearRegression()
predicted = lr.fit(X,y)

In [ ]:
m = predicted.coef_
b = predicted.intercept_

In [ ]:
print(f'The slope is {m} and the y-intercept is {b}')

print(f'price = {m[0]}carat + {b}')